.place__website_location_top {
    padding-top: 106px;
}

@media screen and (max-width: 1022px) {
    .place__website_location_top {
        padding-top: 46px;
    }
}

@media screen and (max-width: 766px) {
    .place__website_location_top {
        padding-top: 0px;
    }
}