.cover__background {
    background: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
    color: white;
    background-position: center;
}